{% extends 'layouts/app.twig' %}
{% block title %}{{ post.title }}{% endblock %}
{% block pagedesc %}{{ post.page_desc }}{% endblock %}
{% block pagekeys %}{{ post.page_keys }}{% endblock %}
{% block pageogtitle %}{{ post.title }}{% endblock %}
{% block pageogdesc %}{{ post.page_desc }}{% endblock %}
{% block pageogimage %}/assets/uploads/posts/{{ post.id }}/featured.jpg{% endblock %}
{% block pageclass %}post{% endblock %}

{% block content %}

<section class="header">
    <div class="header-bar">
        <div class="header-bar__container container">
            <div class="socials">
                <a href="http://www.facebook.com/pages/CAW-Local-200-Computers-for-Kids/191781314116"><i class="fa fa-facebook"></i></a>
                <a href="http://twitter.com/CFKCanada"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>

            <div class="cta">
                <p>Have any Questions? <a href="tel:519-253-5437">Call Us Now</a></p>
            </div>
        </div>

       <nav class="nav">
            <div class="nav__container container--full">
                <div class="logo-wrapper">
                    <a href="{{ path_for('home') }}" class="nav__brand">
                        <img src="assets/img/logo-white.png" alt="Computers for Kids"  draggable="false">
                    </a>
                </div>

                <div class="menu">
                    <ul class="nav__navbar is--active">
                        <li><a href="{{ path_for('home') }}">Home</a></li>
                        <li><a href="{{ path_for('home') }}#about">About Us</a></li>
                        <li><a href="{{ path_for('home') }}#faq">FAQ</a></li>
                        <li><a href="{{ path_for('home') }}#news">News</a></li>
                        {# <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3651662" target="_blank">Donate</a></li> #}
                        <li><a href="{{ path_for('home') }}#other">Other</a></li>
                        <li><a href="{{ path_for('home') }}#contact">Contact</a></li>
                    </ul>
                </div>

                <div class="hours">
                    <p><strong>HOURS</strong></p>
                    <p>Mon-Fri 8:30am-5pm</p>
                    <p>Saturday 9am-1pm</p>
                    <p>Sunday Closed</p>
                </div>
                {% include 'partials/hamburger.twig' %}
            </div>
        </nav>
    </div>
</section>

<section class="viewPost-content">
    <div class="viewPost-content__container container">
        <div class="info">
            <h1>{{ post.title }}</h1>
            <h2>Written By: {{ post.author }}</h2>
            <p>Posted: {{ post.created_at|date("d/m/Y") }}</p>
        </div>
        <div class="body">
            <img src="/assets/uploads/posts/{{ post.id }}/featured.jpg" draggable="false">

            {{ post.body|raw }}
        </div>
    </div>
</section>

<section class="footer">
    <div class="footer__container container">
        <p>&copy; 2017 Computers For Kids. All Rights Reserved</p>
    </div>
</section>

{% endblock %}