{% extends 'layouts/app.twig' %}
{% block title %}Page Not Found{% endblock %}
{% block pageclass %}error{% endblock %}

{% block content %}

<section class="header">
    <div class="header-bar">
        <div class="header-bar__container container">
            <div class="socials">
                <a href="http://www.facebook.com/pages/CAW-Local-200-Computers-for-Kids/191781314116"><i class="fa fa-facebook"></i></a>
                <a href="http://twitter.com/CFKCanada"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>

            <div class="cta">
                <p>Have any Questions? <a href="tel:519-253-5437">Call Us Now</a></p>
            </div>
        </div>

       <nav class="nav">
            <div class="nav__container container--full">
                <div class="logo-wrapper">
                    <a href="{{ path_for('home') }}" class="nav__brand">
                        <img src="/assets/img/logo-white.png" alt="Computers for Kids"  draggable="false">
                    </a>
                </div>

                <div class="menu">
                    <ul class="nav__navbar is--active">
                        <li><a href="{{ path_for('home') }}">Home</a></li>
                        <li><a href="{{ path_for('home') }}#about">About Us</a></li>
                        <li><a href="{{ path_for('home') }}#faq">FAQ</a></li>
                        <li><a href="{{ path_for('home') }}#news">News</a></li>
                        <li><a href="{{ path_for('home') }}#other">Other</a></li>
                        <li><a href="{{ path_for('home') }}#contact">Contact</a></li>
                    </ul>
                </div>

                <div class="hours">
                    <p><strong>HOURS</strong></p>
                    <p>Mon-Fri 8:30am-5pm</p>
                    <p>Saturday 9am-1pm</p>
                    <p>Sunday Closed</p>
                </div>
                {% include 'partials/hamburger.twig' %}
            </div>
        </nav>
    </div>
</section>

<section class="error-info">
    <div class="error-info__container container">
        <h1>Page Not Found</h1>
        <p>Oh dear, it seems the page you were looking for isn't here or just doesn't exist. Try another!</p>
    </div>
</section>

<section class="footer">
    <div class="footer__container container">
        <p>&copy; 2017 Computers For Kids. All Rights Reserved</p>
    </div>
</section>

{% endblock %}