<div class="off-canvas">
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('home') }}#about">About Us</a></li>
        <li><a href="{{ path_for('home') }}#faq">FAQ</a></li>
        <li><a href="{{ path_for('home') }}#news">News</a></li>
        {# <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3651662" target="_blank">Donate</a></li> #}
        <li><a href="{{ path_for('home') }}#other">Other</a></li>
        <li><a href="{{ path_for('home') }}#contact">Contact</a></li>
    </ul>

    <div class="hours">
        <p><strong>HOURS</strong></p>
        <p>Mon-Fri 8:30am-5pm</p>
        <p>Saturday 9am-1pm</p>
        <p>Sunday Closed</p>
    </div>
</div>
