<div class="off-canvas">
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('home') }}#about">About Us</a></li>
        <li><a href="{{ path_for('home') }}#faq">FAQ</a></li>
        <li><a href="{{ path_for('home') }}#news">News</a></li>
        <li><a href="#">Cash Donations</a></li>
        <li class="modal__trigger"><a href="#" class="modal__trigger" data-modal="five">E-Waste Donations</a></li>
        <li><a href="{{ path_for('home') }}#other">Other</a></li>
        <li><a href="{{ path_for('home') }}#contact">Contact</a></li>
    </ul>

    <div class="hours">
        <p><strong>HOURS</strong></p>
        <p>Mon-Fri 8:30am-5pm</p>
        <p>Saturday 9am-1pm</p>
        <p>Sunday Closed</p>
    </div>
</div>
