<table>
    <thead>
        <tr>
            <td></td>
            <td>Title</td>
            <td>Visible</td>
            <td>Updated</td>
            <td>Author</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr>
                <td data-th="Featured Image">
                    <div class="img-container">
                        <img src="/assets/uploads/posts/{{ result.id }}/featured.jpg" draggable="false">
                    </div>
                </td>
                <td data-th="Title">
                    <a href="{{ path_for('posts.view', { 'slug': result.slug} ) }}">{{ result.title }}</a>
                    <p class="slug">Slug: {{ result.slug }}</p>
                </td>
                <td data-th="Visible">{% if result.active == 1 %}Yes{% else %}No{% endif %}</td>
                <td data-th="Updated">{{ result.updated_at|date("d/m/Y") }}</td>
                <td data-th="Author">{{ result.author }}</td>
                <td>{% if auth.user.role == 'admin' %}<a href="{{ path_for('posts.delete', { 'slug': result.slug }) }}"><i class="fa fa-trash" aria-hidden="true"></i></a> {% endif %}{% if (auth.user.role == 'admin') or (auth.user.id == result.user_id) %}<a href="{{ path_for('posts.edit', { 'slug': result.slug }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>{% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>